.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: calc((100vw - 320px)/(1440 - 320) * (180 - 40) + 40px);
}

.main_container {
  max-width: 480px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 24px;
  margin-bottom: calc((100vw - 320px)/(1440 - 320) * (44 - 28) + 28px);
}

.input_extra div {
  width: calc((100vw - 320px)/(1440 - 320) * (480 - 280) + 280px);
}

.input_extra svg {
  margin-left: 200px;
}

.links_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;
}

.links_row {
  display: flex;
  flex-flow: row;
}

.link_description {
  display: flex;
  gap: 8px;
}

@media (max-width: 500px) {
  .link_description {
    flex-flow: column;
    align-items: center;
    padding-bottom: 12px;
  }
}