.ingredient {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  width: calc((100vw - 320px)/(1440 - 320) * (240 - 120) + 120px);
  height: calc((100vw - 320px)/(1440 - 320) * (240 - 120) + 120px);
  flex-grow: 1;
  margin-bottom: 22px;
  transition: box-shadow .2s ease-in, border-radius .4s ease-in;
  background-color: #2f2f37;
  border-radius: 10px;
}

.ingredient_dragged {
  box-shadow:  2px 2px 10px 1px #4C4CFF;;
}

.ingredient:hover {
  box-shadow:  2px 2px 10px 1px #4C4CFF;
  border-radius: 20px;
}


.ingredient:last-child {
  margin-right: 0;
}

.ingredient__image {
  width: calc((100vw - 320px)/(1440 - 320) * (240 - 110) + 110px);

}

.ingredient_price {
  font-size: calc((100vw - 320px)/(1440 - 320) * (28 - 24) + 24px);

}

.ingredient_name {
  margin-top: 8px;
  font-size: calc((100vw - 320px)/(1440 - 320) * (16 - 12) + 12px);
  text-align: center;
}

.count {
  width: calc((100vw - 320px)/(1440 - 320) * (32 - 24) + 24px);
  height: calc((100vw - 320px)/(1440 - 320) * (32 - 24) + 24px);
  font-size: calc((100vw - 320px)/(1440 - 320) * (28 - 20) + 20px);
}

.price_container {
  display: flex;
}

.button_wrapper {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: none;
  background-color: transparent;
  color: white;
}

@media (max-width: 1024px) {
  .ingredient {
    /* margin-top: 26px; */
  }

}

@media (max-width: 768px) {
  .ingredient_name {
    margin-top: 4px;
    line-height: 1.1;
  }

}