.app {
  display: flex;
  flex-direction: column;
  background-color: #131316;
  color: #f2f2f3;
  margin: 0  auto;
  max-width: 1920px;

}

.main {
  margin: 0  auto;
  display: flex;
  max-width: 1920px;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 16px;
}

