.price_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: calc((100vw - 320px)/(1440 - 320) * (40 - 30) + 30px);
}

.price_currency_container {
  display: flex;
  align-items: center;
  gap: 4px;

}

.order_button {
  width: calc((100vw - 320px)/(1440 - 320) * (214 - 160) + 160px);
}