.order_wrapper {
  margin: 0 auto;
}
.order_container {
  display: flex;
  flex-flow: column;
  margin: 70px 25px;
  max-width: 670px;
}

.order_number {
  align-self: center;
}

.ingredient_container {
  list-style: none;
  max-height: 376px;
  overflow-y: scroll;
  padding-left: 0;
  display: flex;
  flex-flow: column;
  gap:16px;
}

.ingredient {
  display: flex;
  align-items: center;
}

.image_wrap {
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
}

.image_wrap::before {
  content: "";
  width: 60px;
  height: 60px;
  margin: auto;
  position: absolute;
  border-radius: 100%;
  background: #131316;
}

.image {
  width: 112px;
  z-index: 1;
}

.ingredient_name {
  max-width: 400px;
}

.price_container {
  display: flex;
  margin-left: auto;
}

.total_price_container {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.price_and_currency_container {
  display: flex;
  gap: 8px;
}

.order_status__done {
  color: #0CC;
}